td.todo {
  max-width: 200px;
  overflow: auto;
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}

th.complete {
  width: 30px;
}

th.target-date {
  width: 100px;
}

table {
  table-layout: fixed;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom:0px !important;
}

.navbar > button, .navbar > select {
  margin-right: 20px;
}

select.form-control {
  -webkit-appearance: menulist;
}

.navbar > span {
  margin-right:0 px;
  padding: 15px;
}

.bootstrap-select {
  margin-right: 20px;
}

span.active {
  outline: 1px solid lightblue;
}

#container {
  margin-top: 70px;
}
